*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}
/* font-family: 'Montserrat', sans-serif; */
h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-weight: 700;
}
h2{
  font-weight: 500;
}
h3,h4{
  font-weight: 400;
}
h5,h6{
  font-weight: 300;
}



#companyIframe{

  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.217);
  border-radius: 15px;
  /* vertical-align: middle; */
  align-items: center;
  display: none;
  position:absolute;
  left: 450px;
  top: 100px;

  margin: 1%;
}


/* cards style */
.custom-card {
    width: 400px;
}

.custom-container {
    display: list-item;
    background: white;
    width: 400px;
    position: absolute;
    top: 120px;
    left: 0px;

    
}



.card{
    height: 35px;
    width: 400px;
    margin:5px 0 5px 0;
    justify-content: center;
}
.card-body{
    display: grid;
    grid-template-columns: 50px 230px 30px 70px;
    grid-template-rows: 35px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 2px ;
    border-radius: 0%;
}
.card-name {
    color: rgba(66, 122, 218, 0.702);
    font-size: 13px;
    font-weight: 600;
    grid-area: 1 / 2 / 2 / 3; 
    padding: 2%;
    align-items: center;
}
.card-symbol-name{
  color: black;
  font-size: 10px;

  grid-area: 1 / 3 / 2 / 4; 
}
.card-icon{

    height: 30px;
    color: black;
    grid-area: 1 / 1 / 2 / 2;
}
.card-icon-changesPercentage-red{
  color: red;
   grid-area: 1 / 4 / 2 / 5; 
   font-size: 10px;
}
.card-icon-changesPercentage-green{
  color: green;
  grid-area: 1 / 4 / 2 / 5; 
  font-size: 10px;
}

.spinner{
display: none;
margin-left: 20px;

}


/* canva and company card */
#companyContainer{
  display: grid;
  grid-template-columns: repeat(10, 60px);
  grid-template-rows: repeat(10, 40px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 650px;
  height: 400px;
  padding: 6%;
  
}

#companyOverView{
grid-area: 1 / 2 / 2 / 10; 
display: flex;
vertical-align: middle;
align-items: start;
}
#companyOverView h4{
font-size: 20px;
}
#companyOverView h5{
  font-size: 15px;
  }
#companyOverView .companyImg{
  width: 30px;
  }
#companyStockPrice{
  grid-area: 2 / 2 / 3 / 10; 
  display: flex;
  font-size: 12px;
  
}
#companyStockPrice h6{
  font-size: 12px;
  padding: 1%;
}
#companyStockDescription{
  grid-area: 3 / 2 / 4 / 10; 
  width: 500px;
 


}
#companyStockDescription h6{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 12px;
}

#canvas{
  grid-area: 4 / 2 / 9 / 10;
  align-items: center;
}


#merquee{
  display: flex;
  width: 98vw;
  height:  30px;
  align-items: center;
}
#marquee h6{
  font-size: 15px;
  
}
.marqueeCompany{
  display: inline;
}

.custom-line{
  display: inline-flex;
  width: fit-content;
  vertical-align: center;
  padding-left: 10px;
  
}

.line-price{
  color: green;
  padding-left: 2px;
}